:root {
  --default-font-color: #000;
  --default-font-size: 12px;
  --big-font-size: 15px;
  --highlight-bg-color: linear-gradient(#d7eaf9, white);
  --highlight-img-bg-color: white;
  --price-font-color: #b70f15;
}

.resetAnchor {
  text-decoration: none;
  color: var(--default-font-color);
}

.container {
  width: 170px;
  height: 300px;
  font-family: sans-serif;
  font-size: var(--default-font-size);
  padding: 5px;
  margin-top: 10px;
}

.container:hover {
  background: var(--highlight-bg-color);
}

.containerImg {
  display: flex;
  flex-direction: column;
  background: var(--highlight-img-bg-color);
  margin-bottom: 10px;
  border: 2px solid transparent;
  height: 130px;
}

.container:hover > .containerImg {
  border: 2px solid #bdd0e0;
}

.img {
  object-fit: contain;
}

.containerText {
  padding: 0 5px;
}

.name {
  line-height: 1.3;
  margin-bottom: 5px;
}

.oldPrice {
  margin-bottom: 5px;
}

.containerPrice {
  color: var(--price-font-color);
  margin-bottom: 5px;
  font-size: var(--default-font-size);
}

.price {
  font-weight: bold;
  font-size: var(--big-font-size);
}

.paymentConditions {
  font-weight: bold;
  margin-top: 5px;
}
