:root {
  --default-border-color: #d2d9e1;
  --default-text-title-color: #006699;
  --default-bg-title-color: #d2d9e1;
  --default-bg-title-gradient-color: linear-gradient(
    180deg,
    #eff7fe 0%,
    #eff7fe 32%,
    #edf6fd 35%,
    #e5f1fb 84%
  );;
  --default-bg-separator-color: #eeeeee;
}
/* color: var(--default-font-color); */

.container {
  display: flex;
  font-family: sans-serif;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #d2d9e1;
  box-sizing: border-box;
}

.mainProductCol {
  display: flex;
  flex-direction: column;
}

.title {
  background: var(--default-border-color);
  background: var(--default-bg-title-gradient-color);
  padding-left: 15px;
  height: 40px;
  color: var(--default-text-title-color);
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16.5px;
}

.recommendationProductsCol {
  width: 100%;
  overflow: hidden;
}

.recommendationList {
  display: flex;
}

.separator {
  width: 3px;
  border-left: 1px solid var(--default-bg-separator-color);
}

.productsContainer {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.icons {
  padding: 0 8px;
  padding-top: 60px;
}
